<%- include('partials/layout/headerTop') %>
<link rel="stylesheet" href="css/style.css">
<%- include('partials/layout/headerBottom') %>

<div class="layout-content relative-parent">
	<p>Index Content</p>
</div>

<%- include('partials/layout/footer') %>