<%- include('partials/layout/headerTop') %>
<link rel="stylesheet" href="css/style.css">
<%- include('partials/layout/headerBottom') %>
<div class="layout-content relative-parent">
	<a href="/login">Login</a>
	<a href="/signup">Signup</a>
</div>

<%- include('partials/layout/footer') %>