<%- include('partials/layout/headerTop') %>
<link rel="stylesheet" href="css/style.css">
<%- include('partials/layout/headerBottom') %>

<div class="layout-content relative-parent">
	<div class="absolute-centered login-signup-form-container">
		<form action="/login" method="post">
			<h1>Log In</h1>
			<div class="input-group">
				<label for="login-name">Username:</label>
				<input type="text" name="login-name" required autofocus autocomplete="login-name">
			</div>
			<div class="input-group">
				<label for="login-password">Password:</label>
				<input type="password" name="login-password" required autocomplete="login-password">
			</div>
			<button type="submit" name="login-submit-button">Log In</button>
		</form>
	</div>
</div>

<script src="javascript/login_signup.js"></script>

<%- include('partials/layout/footer') %>