<%- include('partials/layout/headerTop') %>
<link rel="stylesheet" href="css/style.css">
<%- include('partials/layout/headerBottom') %>

<div class="layout-content relative-parent">
	<div class="absolute-centered login-signup-form-container">
		<form action="/login" method="post">
			<h1>Log In</h1>
			<div class="input-group">
				<label for="username">Username:</label>
				<input type="text" name="username" required autofocus autocomplete="username">
			</div>
			<div class="input-group">
				<label for="password">Password:</label>
				<input type="password" name="password" required autocomplete="password">
			</div>
			<button type="submit" id="login-submit-button">Log In</button>
		</form>
	</div>
</div>

<script src="javascript/login_signup.js"></script>

<%- include('partials/layout/footer') %>